.form-btn {
  margin-top: 15px;
  border-top: 1px solid #ddd;
  padding-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.form-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.form-label {
  font-weight: 600;
}

.form-group {
  margin-bottom: 10px;
}

.custom-select {
  appearance: none;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 100%;
}

.form-control {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #007bff;
}

.btn:hover {
  background-color: #0056b3;
}

.required::before {
  content: "*";
  color: red;
  margin-right: 4px;
}
